@charset "utf-8";

/* 
    O que é o Box Model?

    Cada elemento é representado como uma caixa retangular
    Essa caixa possui propriedades de uma caixa em 2 dimensões (largura x altura)
    Propriedades da caixa
    Tamanho (largura x altura) → width | height
    Conteúdo → content
    Bordas → border
    Preenchimento interno → padding
    Espaços fora da caixa → margin


    Cada elemento será considerado uma caixa
*/

.caixa{
    padding: 10px 5px 10px 5px; /* ou padding: 10px 10px*/
    margin: 0px auto 0px auto;
    width: 500px;
    height: 200px;
    border: 1px solid #d9d9d9;
}