@charset "utf-8";

/* 
    Margin 

    Geralmente, usamos uma forma abreviada (shorthand) para escrever o margin. Esse formato segue o sentido horário iniciando pelo top, seguindo para right, bottom e left.

    margin : cima, direita, baixo, esquerda.

    NÃO FUNCIONA EM ELEMENTOS INLINE.
   
*/

div {
    width: 300px;
    height: 100px;
    border: 1px solid;
    margin: 0 auto;

    /* zero cima e baixo auto nas extremidades */
}
