@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
    --font-especial:"Bebas Neue";
    --font-padrao: "Courier New";
}

/* 
    Nos permite posicionar os elementos dentro da caixa paixa
    Controle em uma dimensão (horizontal e vertical ao mesmo tempo, o flex faz um ou outro)
    Pode ser flexivel ou fixo
    Cria espaços para os elementos filhos habitarem

*/


body{
    margin:0;
    display: grid;
    height: 100vh;
    grid-template-areas: 
    "topo topo"
    "conteudo aside"
    "rodape rodape";

    /* Acima estamos fazendo a divisão. Ou seja, teremos duas colunas para topo, uma para conteudo e outra para aside, e duas colonas para o rodape. Podemos dar quaisquer nome, inclusive o nome de tags como : header, main, aside e etc
    
    
    */

    grid-template-rows: 50px 1fr 50px;
    /* Aqui estamos definindo o tamanho que terá cada linha.
    A 1º linha, o topo, terá 50px. A 2º linha, o conteúdo e aside, terão uma fração do tamanho da vh. E, por último, a 3º linha, o radapé, terá 50px.
    */
}

header{
    background-color: green;
    grid-area: topo;
    /* estamos especificando o que é o que. O header é o topo */

}

main{
    background-color: red;
    grid-area: conteudo;
     /* estamos especificando o que é o que. O main é o conteudo */

}

aside{
    background-color: blue;
    grid-area: aside;
        /* estamos especificando o que é o que. O aside é o conteudo alternativo */

}

footer{
    background-color: gray;
    grid-area: rodape;
        /* estamos especificando o que é o que. O rodape é o footer */

}