@charset "utf-8";

/* Shorthand é uma forma simplificada de descrever uma propriedade e seus valores */


body{
   
}


h1{
    /* shorthand */
    font: bold 2em "Courier New", courier, monospace;
    /* NÃÕ IMPORTA A ORDEM DOS VALORES */
}

p{
     font-size: 1.2em;
    font-style: normal;
    font-family: 'Courier New', Courier, monospace;

    /* shorthand */
    font: normal bold 1em "Courier New", monospace;
}