@charset "utf-8";

/* 
    display: block vs inline;

    Como as caixas se comportam em relação as outras caixas
    Comportamento externo das caixas
    
    Display Block
    Ocupa toda a linha, colocando o próximo elemento abaixo desse.
    
    Altura e largura são respeitados no block.
    Propriedades como padding, margin,border irão funcionar normalmente.

    Ex:
    p, div, h1, h2..., main, aside, section


    Display Inline
    Os elementos ficam ao lado do outro e não empurram outros elementos para baixo
    Altura e largura não são respeitados no inline

    Somente valores horizontais de margin, padding e border vão funcionar. O vertical, tipo margin-top, fica inativo

    Ex:
    img, a, strong, span


    Podemos transformar um elemento inline em block e vice-versa.
*/

div {
    width: 300px;
    height: 100px;
    margin: 0px auto 0px auto;
    border: 1px solid;
}

div strong {
    width: 100px;
    height: 50px;
    /* NÃO OBDECERÁ OS VALORES DE WIDTH E HEIGHT */

    border: 1px solid;
    color: #09f;
}