@charset "utf-8";

/* 
    value: <border-style> | <border-width> | <border-color>

    style: solid | dotted | dashed | double | groove | ridge | inset | outset
    width: <length>
    color: <color>

*/

div {
    box-sizing: border-box;
    width: 500px;
    height: 200px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-style: dotted;
    border-color: red;

    /* shorthand */
    border: 1px dotted red;
    outline: 4px dotted red;

}
