@charset "utf-8";

/* 
    box-sizing serve para calcular o tamanho da caixa a partir da borda, não do conteúdo.
    
    Se utilizarmos um padding, ele vai acrescentar o tamanho da caixa + o padding. Ou seja, irá extrapolar o valor definido. Por esse motivo podemos usar o box-sizing: border-box para resolver esse problema.
*/  

main{
    width: 800px;
    background-color: #e9e7ea;
    margin: 0px auto 0px auto;
    border: 1px solid;
}
.box{
    padding: 0px 100px; 
    width: 500px;
    height: 200px;
    border: 1px solid #845353;
    background-color: #09f;
    margin: 0px auto 0px auto;
    box-sizing: border-box;
}

p{
    border: 1px solid #845353;

}