@charset "utf-8";

/* 
    Padding : Preenchimento interno

    O margin trata do "espaçamento" fora da bora. O o padding, por sua vez, cuida do preenchimento interno

    padding : top, right, bottom, left

    padding : cima, lado
    padding : cima, lado, bottom;
    padding: todo;
*/

div {
    width: 300px;
    height: 100px;
    border: 1px solid;
    margin: 0 auto;
    padding: 10px;
    box-sizing:border-box;
}
